.nav {
	display: flex;
	justify-content: space-around;
	background-color: #14213d;
	height: 55px;
	color: white;
	margin-bottom: 30px;
	padding: 2px 20px;
	position: sticky;
	top: 0;
}
.nav__title {
	margin: auto 0;
	cursor: pointer;
	text-align: justify;
	width: 20%;
}
.nav__title > span {
	color: teal;
}

.nav__list {
	display: flex;
	justify-content: center;
	margin: auto 20px;
	width: 60%;
}

.nav__list > li {
	list-style: none;
	width: 100%;
	padding: 17px 5px;
	transition: background-color 100ms ease-in-out;
	text-align: center;
}
.nav__list > li:hover {
	background-color: rgb(3, 131, 131, 0.3);
}
.nav__list > li > a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.nav > img {
	border-radius: 50%;
	border: 1px solid teal;
	margin: 2px;
	width: 50px;
	zoom: 1.2;
	height: 80%;
	cursor: pointer;
}

.nav__active {
	background-color: teal;
}
